/*Carrito*/

.caja_costos{
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(17, 28, 56);
}

.titulo_carrito {
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(17, 28, 56); 
             }
