.caja_contacto {
                width: $ancho90porc;
                border-style: solid; 
                border-width: 3px;
                border-color: $colorsecundario;   

                                                   .campos_contacto {
                                                       width: 75%;
                                                   }
}