form {
    width: 40%;
    border-color: aqua;
    margin: auto;
  
                      input{ 
                         width: 100%;
                         border: 2px solid #ccc;
                         border-radius: 10px;
                         font-size: 16px;
                         background-color: white;
                         height: 30px;
                         }
 
}