.separacion{
    background-image: linear-gradient(to left,rgba(12, 12, 65, 0.612),rgb(140, 169, 236));
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: rgb(12, 25, 55);
    height:30px;
    width: 90%;
    margin:10px auto;
    }

.separacion2{
    background-image: linear-gradient(to right,rgba(12, 12, 65, 0.612),rgb(140, 169, 236));
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: rgb(12, 25, 55);
    height:30px;
    width: 90%;
    margin: auto;
    }    
    